<% if (hasMessages) { %>
  <div class="flash-messages">
    <% messages.forEach(function(msg) { %>
      <div class="alert alert-<%= msg.type || 'error' %>">
        <%= msg.text || msg %>
      </div>
    <% }) %>
  </div>
<% } %>
